@font-face {
  font-family: "iconfont-mult"; /* Project id 2457341 */
  src: url('iconfont.woff2?t=1630636473650') format('woff2'),
       url('iconfont.woff?t=1630636473650') format('woff'),
       url('iconfont.ttf?t=1630636473650') format('truetype');
}

.iconfont-mult {
  font-family: "iconfont-mult" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-ksd-icon-node_predict_24:before {
  content: "\e702";
}

.el-ksd-icon-node_train_24:before {
  content: "\e703";
}

.el-ksd-icon-node_register_24:before {
  content: "\e704";
}

.el-ksd-icon-warning_16:before {
  content: "\e610";
}

.el-ksd-icon-warning_22:before {
  content: "\e60f";
}

.el-ksd-icon-nav_cluster_24:before {
  content: "\e60a";
}

.el-ksd-icon-more_info_16:before {
  content: "\e6e8";
}

.el-ksd-icon-more_info_22:before {
  content: "\e6e9";
}

.el-ksd-icon-arrow_table_down_22:before {
  content: "\e6d8";
}

.el-ksd-icon-arrow_table_right_22:before {
  content: "\e6d9";
}

.el-ksd-icon-table_rank_22:before {
  content: "\e6da";
}

.el-ksd-icon-arrow_table_down_16:before {
  content: "\e6d5";
}

.el-ksd-icon-arrow_table_right_16:before {
  content: "\e6d6";
}

.el-ksd-icon-table_rank_16:before {
  content: "\e6d7";
}

.el-ksd-icon-nav_security_24:before {
  content: "\e601";
}

.el-ksd-icon-loading_1_16:before {
  content: "\e69e";
}

.el-ksd-icon-loading_1_22:before {
  content: "\e69f";
}

.el-ksd-icon-favourite_active_22:before {
  content: "\e69b";
}

.el-ksd-icon-favourite_active_16:before {
  content: "\e69c";
}

.el-ksd-icon-file_notbook_16:before {
  content: "\e691";
}

.el-ksd-icon-file_workflow_16:before {
  content: "\e692";
}

.el-ksd-icon-node_set_24:before {
  content: "\e68b";
}

.el-ksd-icon-node_save_241:before {
  content: "\e68c";
}

.el-ksd-icon-node_connect_24:before {
  content: "\e68e";
}

.el-ksd-icon-node_load_24:before {
  content: "\e68f";
}

.el-ksd-icon-node_select_24:before {
  content: "\e690";
}

.el-ksd-icon-node_save_24:before {
  content: "\e68d";
}

.el-ksd-icon-nav_devops_24:before {
  content: "\e689";
}

.el-ksd-icon-nav_warning_24:before {
  content: "\e688";
}

.el-ksd-icon-nav_statistics_24:before {
  content: "\e68a";
}

.el-ksd-icon-chart_bar_dark_22:before {
  content: "\e684";
}

.el-ksd-icon-chart_number_dark_22:before {
  content: "\e685";
}

.el-ksd-icon-chart_line_dark_22:before {
  content: "\e686";
}

.el-ksd-icon-chart_pie_dark_22:before {
  content: "\e687";
}

.el-ksd-icon-data_characteristics_24:before {
  content: "\e683";
}

.el-ksd-icon-model_24:before {
  content: "\e673";
}

.el-ksd-icon-connect_BI_24:before {
  content: "\e674";
}

.el-ksd-icon-data_storge_24:before {
  content: "\e67f";
}

.el-ksd-icon-query_history_24:before {
  content: "\e680";
}

.el-ksd-icon-query_24:before {
  content: "\e682";
}

.el-ksd-icon-nav_data_characteristics_24:before {
  content: "\e681";
}

.el-ksd-icon-nav_project_24:before {
  content: "\e67d";
}

.el-ksd-icon-nav_user_group_24:before {
  content: "\e67e";
}

.el-ksd-icon-nav_snapshot_24:before {
  content: "\e67c";
}

.el-ksd-icon-nav_log_24:before {
  content: "\e675";
}

.el-ksd-icon-nav_connect_BI_24:before {
  content: "\e676";
}

.el-ksd-icon-nav_configuration_24:before {
  content: "\e677";
}

.el-ksd-icon-nav_workspace_24:before {
  content: "\e678";
}

.el-ksd-icon-nav_quota_management_24:before {
  content: "\e679";
}

.el-ksd-icon-nav_query_history_24:before {
  content: "\e67a";
}

.el-ksd-icon-nav_query_241:before {
  content: "\e67b";
}

.el-ksd-icon-tieredstorage_22:before {
  content: "\e671";
}

.el-ksd-icon-tieredstorage_16:before {
  content: "\e672";
}

.el-ksd-icon-finished_24:before {
  content: "\e66e";
}

.el-ksd-icon-info_24:before {
  content: "\e663";
}

.el-ksd-icon-nav_data_storge_24:before {
  content: "\e664";
}

.el-ksd-icon-nav_homepage_24:before {
  content: "\e665";
}

.el-ksd-icon-error_24:before {
  content: "\e666";
}

.el-ksd-icon-nav_model_24:before {
  content: "\e667";
}

.el-ksd-icon-nav_monitor_24:before {
  content: "\e668";
}

.el-ksd-icon-nav_notebook_24:before {
  content: "\e669";
}

.el-ksd-icon-nav_setting_24:before {
  content: "\e66a";
}

.el-ksd-icon-nav_user_management_24:before {
  content: "\e66b";
}

.el-ksd-icon-nav_dashboard_24:before {
  content: "\e66c";
}

.el-ksd-icon-nav_SQL_lab_24:before {
  content: "\e66d";
}

.el-ksd-icon-warning_24:before {
  content: "\e66f";
}

.el-ksd-icon-nav_query_24:before {
  content: "\e670";
}

.el-ksd-icon-finished_22:before {
  content: "\e65c";
}

.el-ksd-icon-info_22:before {
  content: "\e65d";
}

.el-ksd-icon-error_22:before {
  content: "\e65f";
}

.el-ksd-icon-table_er_diagram_22:before {
  content: "\e661";
}

.el-ksd-icon-peding_22:before {
  content: "\e662";
}

.el-ksd-icon-error_16:before {
  content: "\e653";
}

.el-ksd-icon-discarded_16:before {
  content: "\e654";
}

.el-ksd-icon-stopped_16:before {
  content: "\e655";
}

.el-ksd-icon-info_16:before {
  content: "\e656";
}

.el-ksd-icon-finished_16:before {
  content: "\e658";
}

.el-ksd-icon-pending_16:before {
  content: "\e659";
}

.el-ksd-icon-queued_16:before {
  content: "\e65a";
}

.el-ksd-icon-running_16:before {
  content: "\e65b";
}

